/* COMMON */
/* -------------------------------- */
body {
  background: linear-gradient(to bottom, #3ccacc, #91df72);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100vw;
}

.content {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  /* background: linear-gradient(to bottom, #3ccacc,#91df72); */
}

/* POSTS */
/* ---------------------------------- */

header {
  display: flex;
  gap: 3rem;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}

header .image img {
  width: 50px;
}

.post_form {
  padding: 20px 40px;
  border-bottom: 1px solid #ccc;
}
img.menu_icon.js-menu-icon {
  position: absolute;
  top: 10%;
  right: 10%;
}

.post_form input {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #71a2a5;
  outline: none;
}

.post_form textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
}

.post_form .tweet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post_form .tweet input {
  width: 50%;
}

.edit-image img {
  width: 100%;
}

.post_form a {
  text-decoration: none;
  color: #fff;
  background-color: red;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
}

#submit {
  padding: 10px 20px;
  background-color: rgb(29, 161, 242);
  color: #fff;
  width: 20%;
  border: 0;
  border-radius: 10px;
  font-weight: bolder;
}

.posts ul {
  padding: 0;
}

.posts li {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 17px;
  position: relative;
}
li img.menu_icon {
  position: absolute;
  top: 10%;
  right: 10%;
}

.posts li .logo {
  flex-basis: 15%;
}

.posts li .logo img {
  width: 60%;
}

.posts li .name_body {
  flex-basis: 85%;
}

.posts li .name_body .name {
  font-weight: bold;
}

.posts li .name_body .datetime {
  color: gray;
}

.posts li .menu {
  display: none;
  position: absolute;
  top: 20px;
  right: 80px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px 20px;
  font-size: 13px;
  border-radius: 3px;
  width: 3rem;
}
.menu a {
  text-decoration: none;
  color: #000;
}

img.post-image {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .posts li .name_body .name { 
    font-size: 20px;
  }
}
